<main class="lista-vacantes">
    <h2>Navegación</h2>
    <div class="botones separador">
        <a href="/editar-perfil" class="btn btn-azul">Editar Perfil</a>
        <a href="/vacantes/nueva" class="btn btn-verde">Nueva Vacante</a>
    </div>

    <h2>Tus vacantes</h2>

    {{#if vacantes.length}}
        {{#each vacantes}}
            <div class="vacante panel-administracion">
                <div class="caja">
                    <h3>{{empresa}}</h3>
                    <p class="puesto">{{titulo}}</p>
                </div>
                <div class="centrar-vertical caja">
                    <a href="/candidatos"></a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>No hay vacantes</p>
    {{/if}}
</main>