<main class="lista-candidatos">
    <h2>Lista de Candidatos</h2>
    {{#if candidatos.length}}
        {{#each candidatos}}
            <div class="candidato">
                <div class="caja">
                    <p class="etiqueta">Nombre:</p>
                </div>
            </div>
</main>