<main class="contenedor">
    <form action="/editar-perfil" method="POST" class="default-form">
        <label>Nombre</label>
        <input type="text" name="nombre" placeholder="Tu nombre" required>
    </form>
</main>