<main class="contenedor">
    <form action="/editar-perfil" method="POST" class="default-form">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Tu nombre" required>
        </div>
        <div class="campo">
            <label>E-mail</label>
            <input type="text" name="nombre" placeholder="Tu nombre" required>
        </div>
    </form>
</main>