<main class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu Email" required>
        </div>
        <div class="campo">
            <label></label>
            <input type="text">
        </div>
    </form>
</main>