<main class="contenedor">
    <form action="/vacantes/nueva" method="POST" class="default-form">
        <h3>Información General</h3>

        <div class="campo">
            <label>Titulo</label>
            <input type="text" name="titulo" placeholder="Ej: React Developer" required>
        </div>
        <div class="campo">
            <label>Empresa</label>
            <input type="text" name="empresa" placeholder="Empresa Contratada" required>
        </div>
        <div class="campo">
            <label>Ubicación</label>
            <input type="text" name="empresa" placeholder="Empresa Contratada" required>
        </div>
    </form>
</main>