<main class="contenedor">
    <form action="/vacantes/nueva" method="POST" class="default-form">
        <h3>Información General</h3>

        <div class="campo">
            <label>Titulo</label>
            <input type="text" name="titulo" placeholder="Ej: React Developer" required>
        </div>
        <div class="campo">
            <label>Empresa</label>
            <input type="text" name="empresa" placeholder="Empresa Contratada" required>
        </div>
        <div class="campo">
            <label>Ubicación</label>
            <input type="text" name="ubicacion" placeholder="Chile, Los Ángeles" required>
        </div>
        <div class="campo">
            <label>Salario (USD)</label>
            <input type="text" name="salario" placeholder="500" required>
        </div>
        <div class="campo">
            <label>Contrato</label>
            <select name="contrato">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
</main>