<div class="contenido-superior vacante contenedor">
    <div class="caja">
        {{!-- imprimir como objeto --}}
        <p class="etiqueta">Empresa</p>
        <p class="nombre">{{vacante.empresa}}</p>
    </div>
    <div class="caja">       
        <p class="etiqueta">Ubicación</p>
        <p class="nombre">{{vacante.ubicacion}}</p>
    </div>
    <div class="caja">
        
        <p class="etiqueta">Contrato</p>
        <p class="nombre">{{vacante.contrato}}</p>
    </div>
    <div class="caja">
        
        <p class="etiqueta">Salario</p>
        <p class="nombre">$ {{vacante.salario}}</p>
    </div>
</div>