<div class="contenido-superior vacante contenedor">
    <div class="caja">
        {{!-- imprimir como objeto --}}
        <p class="etiqueta">Empresa</p>
        <p class="nombre"></p>
    </div>
</div>