<main class="contenedor">
    <form method="POST" class="default-form">
        <div class="campo">
            <label>Nuevo password</label>
            <input type="password" name="password" required>
        </div>
        <div class="campo">
            <input type="submit" value="Guardar Password" class="btn btn-azul">
        </div>
    </form>
</main>